
// import scss sizing.scss
@import "sizing.scss";

#window-flight-debug{

    background-color: rgba($backgound-1, 0.8);

    top: ratio-from(450px);
    left: ratio-from(20px);

    width: ratio-from(350px);
    height: ratio-from(250px);
}


#window-flight-debug canvas{
    width:  ratio-from(330px);
    height: ratio-from(200px);
}