
// import scss sizing.scss
@import "sizing.scss";

#window-flight-attack{

    background-color: rgba($backgound-1, 0.8);

    top: ratio-from(70px);
    left: ratio-from(20px);

    width: ratio-from(350px);
    height: ratio-from(250px);
}

#window-flight-attack>div{
    justify-content: space-evenly;
}


#window-flight-attack a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;

    font-size: ratio-from(16px);
}



#window-flight-attack img{
    background-color: $backgound-2;

    width: ratio-from(8vw);
    border-radius: ratio-from(5px);
    padding: 0;
    border: ratio-from(3px) solid $backgound-2;
}

#window-flight-attack a.selected>img{
    border: ratio-from(3px) solid $secondary;
}

#window-flight-attack img:hover{
    background-color: $backgound-1;
    border-color: $backgound-1;
}


#window-flight-attack .stats{
    justify-content: center !important;
    gap: ratio-from(1vw);
    font-size: ratio-from(2vw);
}

#window-flight-attack .stats>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: ratio-from(0.5vw);
}


#window-flight-attack .stats .btn{
    padding: ratio-from(4px);
    font-size: ratio-from(1vw);
}

