#window-flight-list{
    background-color: rgba($backgound-1, 0.8);

    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

}


.flight{
    background-color: $backgound-3;
    border : 1px solid transparent;
}

.flight[visible="true"]{
    border : 1px solid $secondary;
}


#flight-list{
    scrollbar-color:$secondary;
}