
@import "sizing.scss";

#window-play-bar{
    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */

    box-sizing: border-box;

    top: 100vh;
    left: 50vw;
    width: ratio-from(900px);
    height: ratio-from(30px);

    flex-direction: row;
    gap: ratio-from(10px);
    padding: 0 ratio-from(10px);

    transform: translate(-50%, calc(-100% - 50px));

    font-size: ratio-from(16px);
}

#window-play-bar *{

    font-size: ratio-from(16px);
}

#window-play-bar>div{
    width: unset;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


  /* range bar */

#time-bar {
    overflow: hidden;
    -webkit-appearance: none;
    width: 50%;
    background-color: transparent;
    padding: 0 0;
    height: ratio-from(6px);
}
#time-bar:focus {
    outline: none;
}
#time-bar::-webkit-slider-runnable-track{
    width: 100%;
    height: ratio-from(6px);
    cursor: pointer;
    background:  $base;
}
#time-bar::-webkit-slider-thumb {

    height: 0px;
    width: 0px;
    background: transparent;
    box-shadow: -100vw 0 0 100vw $secondary;
    cursor: ew-resize;
    -webkit-appearance: none;
}
#time-bar::-moz-range-track {
    width: 100%;
    height:  ratio-from(6px);
    cursor: pointer;
    background:  $base;
}
#time-bar::-moz-range-thumb {
    height: 0px;
    width: 0px;
    background: transparent;
    box-shadow: -100vw 0 0 100vw $secondary;
    cursor: ew-resize;
}

#time-speed{
    width: ratio-from(20px);
}

#time-display{
    width:  ratio-from(180px);
    text-align: center;
}
