
  
  
#window-flight-list{
    top: 0vh;
    left: 100vw;
    width: 360px;
    height: 300px;
  
    transform: translate(calc(-100% - 20px), 70px); 

    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    
}
  

  
#window-flight-list>.list{
    width: calc(100% - 10px);
    height: 100%;
    /* overflow Y */
    overflow-y: scroll;
    overflow-x: hidden;
  
    margin: 0px 5px;
    

}
  
.flight{
    width: calc(100% - 17px);
    height: 30px;
    border-radius: 5px;
    margin: 9px 3px 0 3px;
    padding: 0 3px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;


}

/* last flight margin for scroll */ 
.flight:last-child{
    margin-bottom: 10px;
}
  
.flight>.flight-info{
    width: 75%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;

    font-size: 13px;
}

.flight-info>img{
    width: 30px;
    height: 30px;
}
  
  

#clear-list-btn{
    float: right;
    height: 20px;
    font-size: 12px;
}