#window-flight-attack{
    width: 350px;
    transform: translate(20px, 70px);
}


#window-flight-attack img{
    width: 64px;

    border-radius: 8px;
    padding: 5px;
    border: 2px solid $backgound-2;
}

#window-flight-attack a.selected>img{
    border: 2px solid $secondary;
}


#window-flight-attack>div{
    width: 100%;
    padding: 20px 0;
}

#window-flight-attack .stats{
    gap: 2em;
}

#window-flight-attack .stats>div{
    gap: 0.5em;
}

#window-flight-attack .stats .btn{
    padding: 3px;
    font-size: 25px;
}
