header{
    background-color: $backgound-1;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
header>*{
    padding: 0 10px;
    font-size: 30px;
}
