
  
  
#window-flight-list{
    top: 0vh;
    left: 100vw;
    width: 40vw;
    height: 40vw;
  
    transform: translate(calc(-100% - 4vw), 10vw); 

    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    
}
  

  
#window-flight-list>.list{
    width: calc(100% - 2vw);
    height: 100%;
    /* overflow Y */
    overflow-y: scroll;
    overflow-x: hidden;
  
    margin: 0px 2vw;
}

#window-flight-list>h1{
    width: calc(100% - 2vw);
    height: 5vw;
    margin: 0;
    padding: 0 1vw;
    text-align: center;
    font-size: 4vw;
}
  
.flight{
    width: calc(100% - 4vw);
    // height: 6vw;
    border-radius: 1vw;
    margin: 1vw 2vw 0 0.5vw;
    padding: 1vw 1vw;
  
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

/* last flight margin for scroll */ 
.flight:last-child{
    margin-bottom: 1vw;
}
  
.flight>.flight-info{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    font-size: 2vw;
}


.flight>a{
    font-size: 3vw !important;
    padding: 0.5vw;
}
  

.flight-info>img{
    width: 4vw;
    height: 4vw;
    font-size: 2vw !important;
}

  

// #clear-list-btn{
//     float: right;
//     height: 4vw;

//     font-size: 2vw;
//     margin: 0;
//     padding: 0 1vw;
// }
  
#window-flight-list>h1>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 25%;
}
#window-flight-list>h1>div>a{

    height: 3vw;
    font-size: 3vw !important;
    padding: 0.5vw;
    margin: 0;
}