
#window-play-bar{
    top: 100vh;
    left: 50vw;
    width: 90vw;

    padding: 1vw;

    // height: 30px;
  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5vw;
  
    transform: translate(-50%, calc(-100% - 5vw));

    font-size: 3vw;
}

#play-btn, #rewind-btn, #forward-btn{
    font-size: 4vw !important;
    padding: 1vw;
}

  
#time-speed{
    width: 6vw;
    font-size: 3vw;
    padding: 0;
}

#time-display{
    width: 45vw;
    text-align: center;
}
  



#time-bar {
    overflow: hidden;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 2vw 0;
    height: 1.5vw;
}
#time-bar:focus {
    outline: none;
}
#time-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 1.5vw;
    cursor: pointer;
    background:  $base;
}
#time-bar::-webkit-slider-thumb {
    
    height: 0px;
    width: 0px;
    background: transparent;
    box-shadow: -100vw 0 0 100vw $secondary;
    cursor: ew-resize;
    -webkit-appearance: none;
}
#time-bar::-moz-range-track {
    width: 100%;
    height: 1.5vw;
    cursor: pointer;
    background:  $base;
}
#time-bar::-moz-range-thumb {
    height: 0px;
    width: 0px;
    background: transparent;
    box-shadow: -100vw 0 0 100vw $secondary;
    cursor: ew-resize;
}

