
.window{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: $backgound-1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: min(1vw, 1vh, 10px);
}

.window>h1{
    width: calc(100% - 30px);
    height: 40px;
    border-radius: min(1vw, 1vh, 10px) min(1vw, 1vh, 10px) 0 0;
    background-color: $backgound-2;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}


// .window>h1{
//     background-color: rgba($backgound-2, 0.8);
// }

.window>h1>div{
    flex-grow: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 20%;
    height: 100%;
}



.window>h1>div>*{
    padding: 3px;
    margin: 3px;
}


.window>div>h2{
    margin: 10px 0px 0px 30px;
    font-size: 20px;
}


