
  
  
#window-flight-list{
    top: 0vh;
    left: 100vw;
    width: 50vh;
    height: 50vh;
  
    transform: translate(calc(-100% - 4vh), 10vh); 

    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    
}
  

  
#window-flight-list>.list{
    width: calc(100% - 2vh);
    height: 100%;
    /* overflow Y */
    overflow-y: scroll;
    overflow-x: hidden;
  
    margin: 0 2vh;
}

#window-flight-list>h1{
    width: calc(100% - 2vh);
    height: 5vh;
    margin: 0;
    padding: 0 1vh;
    text-align: center;
    font-size: 4vh;
}
  
.flight{
    width: calc(100% - 4vh);
    // height: 6vh;
    border-radius: 1vh;
    margin: 1vh 2vh 0 0.5vh;
    padding: 1vh 1vh;
  
    display: flex;
    justify-content: space-evenly;
    // flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

/* last flight margin for scroll */ 
.flight:last-child{
    margin-bottom: 1vh;
}
  
.flight>.flight-info{
    width: 70%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    font-size: 2vh;
}


.flight>a{
    font-size: 3vh !important;
    padding: 0.5vh;
}
  

.flight-info>img{
    width: 4vh;
    height: 4vh;
    font-size: 2vh !important;
}

  

#clear-list-btn{
    float: right;
    height: 4vh;

    font-size: 2vh;
    margin: 0;
    padding: 0 1vh;
}