
  
  
#window-flight-data{
    top: 0vh;
    left: 0vw;
    width: 50vh;
    height: 50vh;
    
    transform: translate(calc(4vw), 10vh); 

    font-size: 2.5vh;
}
  
#window-flight-data>h1{
    width: calc(100% - 2vh);
    height: 5vh;
    margin: 0;
    padding: 0 1vh;
    text-align: center;
    font-size: 3.5vh;
}

#window-flight-data>h1>div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    width: 20%;
}




#flight-data{
    width: calc(100% - 2vh);
    height: 100%;
    /* overflow Y */
    overflow-y: scroll;
    overflow-x: hidden;
  
    margin: 0px 2vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}




.line{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}


#flight-data>.line
{
    min-height: 12vh; 
    flex-direction: column;
    justify-content: center;
}
#flight-data>.line input, #flight-data>.line select {
    font-size: 2.5vh;
    padding: 0px;
}


#flight-data-graph-container{
    
    width: 100%;
    min-height: calc(100% - 12vh);
}


select#variable-selector{
    width: 30vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    
}

input#window-length{
    width: 7vh;
}


#flight-attributes{
    width: 100%;
    font-size: 2vh;
}


#flight-attributes tr td{
    width: 1%;
    white-space: nowrap;
    
}


#flight-attributes td>span {
    color: lighten($secondary, 35%);
    font-weight: 600;
}

td>span{
    display: inline-block;
    text-align: right;
    width: 3vh;
}
td>span.large{
    display: inline;
    width: unset !important;
}