
#window-play-bar{
    top: 100vh;
    left: 50vw;
    width: 95vw;
    height: 5vh;
  
    flex-direction: row;
  
    transform: translate(-50%, calc(-100% - 5vh));

    /** desctivate selection */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */

    font-size: 3vh;

}
#window-play-bar>a{
    padding: 0.7vh;
}
  
  /* range bar */
#time-bar{
    width: 50%;
    height: 100%;
}
  
#time-speed{
    width: 4vh;
    height: 3.5vh;
    font-size: 3vh;
}

#time-display{
    width: 20vw;
    text-align: center;
}